<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area">
                    <div class="col-md-3">
                        <aside class="aa-blog-sidebar">
                            <div class="aa-sidebar-widget">
                                <h3>Kullanıcı Paneli</h3>
                                <ul class="aa-catg-nav">
                                    <li><a href="{{ path('userpanel') }}">Bilgilerim</a></li>
                                    <li><a href="{{ path('orders_index') }}">Siparişlerim</a></li>
                                    <li><a href="">İstek Listem</a></li>
                                    <li><a href="{{ path('app_logout') }}">Çıkış Yap</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>






