{% extends 'frontbase.html.twig' %}


{% block title %}   dailyShop | Kullanıcı Panelim    {%  endblock %}

{% block body %}

    <section id="cart-view">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {{ include ('home/_usersidebar.html.twig') }}
                </div>

                {{ include ('userpanel/show.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
