{% extends 'admin/adminbase.html.twig' %}
{% block title %}Daily Shop | Ayarlar{% endblock %}
{% block brand %}Ayarlar{% endblock %}
{% block m7 %}<li class="active">{% endblock %}
{% block body %}
    {{ include('setting/_form.html.twig', {'button_label': 'Güncelle'}) }}
    <a href="{{ path('setting_index') }}">geri dön</a>
{% endblock %}
