{% extends 'admin/adminbase.html.twig' %}
{% block title %}Daily Shop | Ürün Düzenle{% endblock %}
{% block brand %}Ürün Düzenle{% endblock %}
{% block m4 %}<li class="active">{% endblock %}
{% block body %}
    {{ include('admin/product/_form.html.twig', {'button_label': 'Güncelle'}) }}

    <a href="{{ path('admin_product_index') }}">listeye dön</a>

{% endblock %}
