{% extends 'frontbase.html.twig' %}

{% block title %}Daily Shop | Ödemeyi Tamamla{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <section id="aa-blog-archive">
                {{ include('orders/_form.html.twig') }}
            </section>

        </div>
    </div>
{% endblock %}
